@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;

400;500;600;700;800&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-color: black;
}

.container-content {
  display: flex;
  height: 100%;
}

.container-content main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  background-color: #1a1919;
  border-radius: 0 0 50px 50px;
  padding: 20px;
  color: white;
  box-shadow: 2px 3px 10px 2px #888888;
}

.container-content main h1 {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 40px;
  color: transparent;
  border-bottom: 3px solid #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.container-content main .container-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: calc(20% - 60px);
  text-align: center;
  box-shadow: 0px 0px 10px 3px #888888;
  margin: 30px;
  padding: 10px 0;
}

.container-content main .container-movie h2 {
  width: 100%;
}

.container-content main .container-movie h4 {
  font-size: 18px;
}

.container-content main .container-movie h5 {
  font-size: 20px;
}

.container-content main .container-movie h6 {
  width: 100%;
  font-size: 20px;
}

